#navigation ul,
#navigation ul li ul.dropdown {
    margin: 0;
    padding: 0;
    transition: all .17s ease-in-out 0s;
    list-style: none
}
#navigation {
    float: none;
    position: relative;
    width: 100%;
    z-index: 9999
}
#mobile-navigation,
.js .selectnav {
    display: none
}
#navigation ul li ul.dropdown {
    background: #fff;
    border: 1px solid #ecf0f1;
    display: none;
    position: absolute;
    width: 180px;
    z-index: 110
}
#navigation ul li:hover>ul.dropdown {
    display: block;
    transition: all .3s ease 0s
}
#navigation ul a {
    display: block;
    position: relative;
    text-decoration: none
}
#navigation ul ul li a.sf-with-ul:hover::after {
    -moz-border-right-colors: #fbfbfb;
    border-color: #fbfbfb #fbfbfb #fbfbfb #e74c3c
}
#navigation ul ul.dropdown ul {
    border: 1px solid #e0e0e0;
    border-radius: 0;
    left: 100%;
    margin: -39px 0 0;
    top: inherit
}
#navigation ul>li>a {
    border-top: 2px solid transparent;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    overflow: hidden;
    padding: 35px 22px 31px;
    transition: all .25s ease-in-out 0s
}
#current,
#navigation ul li a:hover,
#navigation ul>li:hover>a,
#responsive li.active>a {
    color: #e74c3c;
    transition: all .17s ease-in-out 0s
}
#navigation ul li a:hover .sf-sub-indicator {
    color: #e74c3c
}
#navigation ul li a {
    transition: border 150ms ease-in-out 0s, background-color 150ms ease-in-out 0s
}
#navigation ul ul.dropdown {
    background-color: #fff;
    border: 1px solid #efefef;
    border-radius: 0;
    margin: 0;
    z-index: 999
}
#navigation>ul ul li:hover>a {
    background: 0 0;
    border-top: 0 none
}
#navigation ul ul li {
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid #e8e8e8
}
#navigation ul ul li a {
    border: 0;
    color: #555;
    font-size: 13px;
    line-height: 15px;
    padding: 12px 16px;
    transition: background-color 50ms ease-in-out 0s
}
#navigation ul ul li:first-child {
    border: 0
}
#navigation ul ul li a:hover {
    background-color: #fbfbfb;
    border: 0;
    color: #e74c3c
}
.sf-sub-indicator {
    color: #c6c6c6;
    display: inline-block;
    font-size: 12px;
    line-height: 0;
    margin: 0 0 0 5px;
    width: 11px
}
#jPanelMenu-menu #current::after,
#jPanelMenu-menu .sf-sub-indicator,
#navigation ul ul .sf-sub-indicator .fa-angle-down {
    display: none
}
#jPanelMenu-menu #current {
    border-bottom: 1px solid #eee
}
#jPanelMenu-menu li a {
    background-color: #f6f6f6;
    border-bottom: 1px solid #f0f0f0;
    color: #888;
    display: block;
    font-weight: 500;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s ease-in-out 0s
}
#responsive li>.megamenu ul,
.jPanelMenu-panel {
    transition: all .17s ease-in-out 0s
}
#jPanelMenu-menu li a:hover {
    background-color: #f8f8f8
}
#jPanelMenu-menu li li a {
    background-color: #fff;
    padding-left: 30px
}
#jPanelMenu-menu li a span.marker {
    height: 20px;
    position: absolute;
    right: 10%;
    text-align: center;
    width: 20px
}
#responsive li a span.marker {
    float: right;
    font-size: 12px;
    left: 5px;
    position: relative;
    top: -1px
}
#responsive>li {
    display: inline-block;
    float: left
}
#responsive>li>.megamenu.rew {
    left: 0;
    width: 100%
}
#responsive>li>.megamenu {
    background: rgba(255, 255, 255, 1);
    border: 1px solid #ecf0f1;
    color: #6f6f6f;
    display: none;
    font-size: 13px;
    line-height: 22px;
    min-width: 25%;
    padding: 10px 5px 20px;
    position: absolute;
    z-index: 110
}
#responsive li:hover .megamenu {
    display: block
}
.megamenu .row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
    width: 100%
}
.megamenu .row:first-child {
    margin-top: 0
}
#responsive {
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%
}
#responsive li>.megamenu ul {
    display: block;
    position: relative
}